<div class="header">
    <span>Canteen Management system</span>
</div>
<div class="container">
    <div class="container">
        <h2 class="head">Transaction Details</h2>

        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Type</th>
                    <th>Employee Name</th>
                    <th>Amount</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let it of item"> -->
                <tr *ngFor="let trnstn of transaction">

                    <td>{{trnstn.id}}</td>
                    <td>{{trnstn.type}}</td>
                    <td>{{trnstn.user_name}}</td>
                    <td>{{trnstn.amount}}</td>
                    <td>{{trnstn.date}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" routerLink="/admin">Back</button>
    </div>
</div>