<div class="header">
    Canteen Management Portal
</div>
<div class="w-50">
    <mat-card>Your current balance : {{balance}}</mat-card>
    <div class="example-button-row add-money">
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" href="/addMoney" routerLink="/employee/addMoney"> Add Money</button>
    </div>
    <div class="example-button-row back">
        <!-- <span class="example-spacer"></span> -->
        <button mat-raised-button color="primary" href="/employee" routerLink="/employee"> Back</button>
    </div>
</div>