<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-md">
                <div class="navbar-brand">Canteen Management Portal</div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" href="/login">Log in</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <div class="col-md-8 offset-md-2 info">
            <!-- <h1 class="text-center">Canteen</h1> -->
            <p class="text-center">
                You Don't need a

                silver fork to eat

                good food.
            </p>
            <a href="/register" class="btn btn-md text-center" routerLink="/register">GET STARTED</a>
        </div>
    </div>
</div>